<div class="border rounded p-3 my-3">
    {% include "including/form_errors.html" %}

    <form method="POST" action="/videos/{{video.video_id}}/edit" hx-post="/videos/{{video.video_id}}/hx-edit">
        <div>
            <!-- <label>title</label> -->
            <input class="form-control" type="text" name="title" , placeholder="title goes here" required="required"
                   value="{% if video.title %} {{ video.title }} {% endif %}" >
        </div>
        <div>
            <!-- <label>video url</label> -->
            <input class="form-control" type="text" name="url" , placeholder="https://..." required="required"
                   value="{{ video.url }}" >
        </div>

        <div>
            <label class="my-3" for='delete'>
                <input class="form-check-input mx-2" type='checkbox' name='delete' id='delete' /> Delete
            </label>
        </div>

        <button class="btn btn-sm btn-outline-secondary m1-2"> save </button>
    </form>
</div>