{% extends "base.html" %}

{% block title %}
    playlist detail | {{ super() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-2">
        {% include "/playlists/sidebar.html" %}
    </div>
    <div class="col-10">
        <div>
            <h2>{{ instance.title }}</h2>
        </div>
        
        <!-- adding create video form by htmx  -->
        <!-- requires a get request to given view -->
        <!-- on a button click -->
        <!-- the result will be added to the target -->
        <!-- and the item will be added at the end of target like appending (there are other places that the item can be added. ) -->
        <div id="add_video">
            <ul class="list-group">
                {% for video in instance.get_videos() %}
                    
                    {% with path=video.path, title=video.title %}
                        <li class="list-group-item" id="video-{{ loop.index }}">
                            <div class="row">
                                <div class="col-10">
                                    {% include "/videos/htmx/link.html"%}
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-sm btn-danger mx-3" hx-post="/playlists/{{instance.db_id}}/videos/{{video.video_id}}/delete"
                                        hx-target="#video-{{ loop.index }}">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endwith %}
                    
                {% endfor %}
            </ul>

        </div>
        <button class="mt-3 btn btn-sm btn-outline-primary" hx-get="/playlists/{{ instance.db_id }}/add-video"  hx-trigger="click" hx-target="#add_video" hx-swap="beforeend">add more video to playlist</button>
    </div>
</div>    
{% endblock %}
