{% extends "base.html"%}

{% block title %}
add video | {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
        {% include "/videos/sidebar.html" %}
    </div>
    <div class="col-10">
        <div>

            <!-- <h1>ADD VIDEO</h1>
            {% include "including/form_errors.html" %}

            <form method="POST">

                <div>
                    <label>title</label>
                    <input type="text" name="title" , placeholder="title goes here">
                </div>
                <div>
                    <label>video url</label>
                    <input type="text" name="url", placeholder="https://...">
                </div>
                
                <button style="margin-top: 20px;"> add </button>

            </form> -->
            <h1>ADD VIDEO</h1>
            {% include "/videos/htmx/create.html" %}
        </div>
    </div>
</div>
{% endblock %}